body{
    background-image: url("images/WhatsApp\ Image\ 2022-11-29\ at\ 4.04.23\ PM.jpeg");
    background-repeat: no-repeat;
    
    
}
#ContactUs{
    text-align: right;
    
}
.form-shape{
    text-align: right;
}
