body{
    background-color: burlywood;
    text-align: center;
}
table{
    align-content:  center;
    
}
#container{
    image-resolution: ;
}
#About .table1 .image1{
    width: 300px;
    height: 300px;
}
#About .table1 .image2{
    width: 300px;
    height: 300px;
}
#About .table1 .image3{
    width: 300px;
    height: 300px;
}